#ands-miso-popAlert{ font-size:12px; font-family:"宋体";position:fixed; _position:absolute; top:50%; left:50%;z-index:999999;width:500px;}
#ands-miso-popAlert p,#ands-miso-popAlert li,#ands-miso-popAlert ol,#ands-miso-popAlert ul,#ands-miso-popAlert dl,#ands-miso-popAlert dd,#ands-miso-popAlert dt{ margin:0; padding:0}
#ands-miso-popAlert ul,#ands-miso-popAlert li{ list-style:none}
#ands-miso-popAlert img{ border:0;}
#ands-miso-popAlert a{ text-decoration:none}
#ands-miso-popAlert a:hover{ text-decoration:underline}

.ands-miso-cover{ position:fixed;_position:absolute;top:0;left:0;z-index:999990;background:#000;opacity:0.5;filter:alpha(opacity=50);width:100%;height:100%; }
#ands-miso-popAlert  .ands-loadbar{width:208px; padding-bottom:20px; margin:0 auto;
 border:2px solid #dedede;
 -moz-border-radius: 5px;     
    -webkit-border-radius: 5px;   
    border-radius:5px;           
	padding:18px 30px 18px 30px;
	background:#fff;
}

#ands-miso-popAlert  .ands-loadbar .ands-loadbar-text{font-family:Microsoft YaHei; font-size:18px; text-align:center; color:#636363;}
#ands-miso-popAlert  .ands-loadbar .ands-loadbar-img{
	margin-top:20px;
	background-image: url(../images/strip.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:208px;
	height:13px;
}
#ands-miso-popAlert .ands-misoAlert{
	background:#fff;
	padding-bottom:20px;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	width:500px;
	margin:0 auto;}
#ands-miso-popAlert .ands-misoAlert .mgt-10{margin-top:10px;}
#ands-miso-popAlert .ands-misoAlert .mgr-10{margin-right:10px;}
#ands-miso-popAlert .ands-misoAlert .mgb-10{margin-bottom:10px;}
#ands-miso-popAlert .ands-misoAlert .mgl-10{margin-left:10px;}
#ands-miso-popAlert .ands-misoAlert-head{
	height:34px;
	line-height:34px;
	border-top:2px solid #fc307c;
	background:#f7f7f7;
	border-bottom:1px solid #dddddd;
	}


#ands-miso-popAlert .ands-misoAlert-head .close{ float:right; width:22px; height:22px;cursor:pointer; margin-right:20px;background: url(../images/public.gif) no-repeat scroll -7px -258px #f7f7f7; margin-top:6px; display:inline;}
#ands-miso-popAlert .ands-misoAlert-head .closehove{float:right; width:22px; height:22px;cursor:pointer; margin-right:20px;background: url(../images/public.gif) no-repeat scroll -7px -288px #f7f7f7;margin-top:6px;display:inline;}
#ands-miso-popAlert .ands-misoAlert-head .close2{ float:right; width:22px; height:22px;cursor:pointer; margin-right:20px; display:inline; font-size:40px;font-family: "Microsoft YaHei","SimSun";}

#ands-miso-popAlert .ands-misoAlert-head .ands-misoAlert-title{ font-size:14px; font-weight:bold; padding-left:20px;}
#ands-miso-popAlert .ands-misoAlert-content{
	padding:20px 20px 0px 20px;
	
	}
#ands-miso-popAlert .ands-misoAlert-content input{ border:1px solid #cccccc; height:24px; line-height:24px; width:160px;}
#ands-miso-popAlert .ands-misoAlert-content-alert{ padding:10px; line-height:24px;}
#ands-miso-popAlert .ands-misoAlert-content-pop{ padding-left:10px;padding-right:10px; line-height:24px;}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft{
	vertical-align:top;
	zoom:1; 
	display: inline-block;
	*display:inline;
	width:110px;
	margin:0 10px 10px 10px;
	}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .zq{
	height:146px;
	width:106px;
	background: url(../images/public.gif) no-repeat;
	background-position:0px -545px;
	display:block;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .zqsmall{
	height:106px;
	width:74px;
	background: url(../images/public.gif) no-repeat;
	background-position:0px -900px;
	display:block;
	margin:o auto;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .zq-ring{
	height:42px;
	width:42px;
	background: url(../images/public.gif) no-repeat;
	background-position:0px -346px;
	display:block;
	margin:o auto;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .cw{
	height:146px;
	width:106px;
	background: url(../images/public.gif) no-repeat;
	background-position: -130px -550px;
	display:block;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .cwsmall{
	height:108px;
	width:74px;
	background: url(../images/public.gif) no-repeat;
	background-position:-89px -900px;
	display:block;
	margin:o auto;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .cw-ring{
	height:42px;
	width:42px;
	background: url(../images/public.gif) no-repeat;
	background-position:-144px -346px;
	display:block;
	margin:o auto;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .tx{
	height:146px;
	width:106px;
	background: url(../images/public.gif) no-repeat;
	background-position: 0px -710px;
	display:block;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .txsmall{
	height:106px;
	width:74px;
	background: url(../images/public.gif) no-repeat;
	background-position:-173px -900px;
	display:block;
	margin:o auto;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .tx-ring{
	height:42px;
	width:42px;
	background: url(../images/public.gif) no-repeat;
	background-position:-280px -346px;
	display:block;
	margin:o auto;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .yw{
	height:146px;
	width:106px;
	background: url(../images/public.gif) no-repeat;
	background-position: -123px -716px;
	display:block;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .ywsmall{
	height:110px;
	width:74px;
	background: url(../images/public.gif) no-repeat;
	background-position:-261px -900px;
	display:block;
	margin:o auto;
}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popleft .yw-ring{
	height:42px;
	width:42px;
	background: url(../images/public.gif) no-repeat;
	background-position:0px -470px;
	display:block;
	margin:o auto;
}

#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popmain{
	vertical-align:top;
	zoom:1; 
	display: inline-block;
	*display:inline;
	width:300px;
	margin-top:10px;}
#ands-miso-popAlert .ands-misoAlert-content-pop .ands-misoAlert-content-popmain h2{
	font-family:Microsoft YaHei;
	font-size:16px;
	font-weight:normal;
	margin-bottom:10px;}

#ands-miso-popAlert .ands-misoAlert-content-btncenter{ text-align:center; margin:10px 0px;}
#ands-miso-popAlert .ands-misoAlert-content-btnright{ text-align:center; margin:10px 0px}



#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbr{
	display:inline-block;
	background:#f59000;
	width:88px;
	height:32px;
	line-height:32px;
	border:1px solid #f47900;
	cursor: pointer;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	border-radius:1px;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbr:link,.misoAlert-btnbr a:link{
	color:#fff;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbr:visited,.misoAlert-btnbr a:visited{
	color:#fff;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbr:hover,.misoAlert-btnbr a:hover{
	background:#ff7100;
	color:#fff;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbr:active,.misoAlert-btnbr a:active{
	color:#fff;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbg{
	display:inline-block;
	background:#f7f7f7;
	height:32px;
	line-height:32px;
	border:1px solid #dddddd;
	cursor: pointer;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	color:#c9c9c9;
	border-radius:1px;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbg:link,.misoAlert-btnbg a:link{
	color:#c9c9c9;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbg:visited,.misoAlert-btnbg a:visited{
	color:#c9c9c9;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbg:hover,.misoAlert-btnbg a:hover{
	background:#f2f2f2;
	color:#c9c9c9;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnbg:active,.misoAlert-btnbg a:active{
	color:#c9c9c9;
	text-decoration:none;
	}


#ands-miso-popAlert .ands-misoAlert .misoAlert-btnsb{
	display:inline-block;
	background:#3683ec;
	width:44px;
	height:24px;
	line-height:24px;
	cursor: pointer;
	text-align:center;
	color:#fff;
	border-radius:1px;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnsb:link,.misoAlert-btnsb a:link{
	color:#fff;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnsb:visited,.misoAlert-btnsb a:visited{
	color:#fff;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnsb:hover,.misoAlert-btnsb a:hover{
	background:#2b78e2;
	color:#fff;
	text-decoration:none;
	}
#ands-miso-popAlert .ands-misoAlert .misoAlert-btnsb:active,.misoAlert-btnsb a:active{
	color:#fff;
	text-decoration:none;
	}







