/*
 * @Filename: tabs.css
 * @Description: panel style
 * @Version: 1.0.0
 * @Author: wangyq
 * @Update: wangyq
 * @skin:{
		"ued-tab":"#fff",
        "ued-tab-1":"#ededed",
        "ued-tab-2":"#a5daf7",
        "ued-tab-3":"#ffc387"
    }@skin
*/



/*标签皮肤2*/
.ued-navtab-2 .nav-tabs {
    *zoom: 1;
    margin:0;
    width: 500%;
    position: relative;
	border-bottom:1px solid #d1d1d1
}
.ued-navtab-2 .navtab-title{
	background:#eee;
    position: relative;
    z-index: 3;
    overflow: hidden;
	border-right:1px solid #d1d1d1;
    padding-top:5px;
    padding-left: 5px;
}
.ued-navtab-2 .navtab-title a.leftArrow,.ued-navtab-2 .navtab-title a.rightArrow{
    position: absolute;
    display: none;
    height:32px;
    width: 12px;
    text-indent: -9999px;
    z-index: 99;
}
.ued-navtab-2 .navtab-title a.leftArrow{
    right: 15px;
    top: 7px;
    background:#f2f2f2 url("images/leftArrow.png") 0 0 no-repeat ;
    border: 1px solid #d1d1d1;
}
.ued-navtab-2 .navtab-title a.rightArrow{
    right: 0;
    top: 7px;
    background:#f2f2f2 url("images/rightArrow.png") 0 0 no-repeat ;
    border: 1px solid #d1d1d1;
	border-right:none;
}
.ued-navtab-2 .nav-tabs:before, .ued-navtab-2 .nav-tabs:after {
    display:block;
    line-height: 0;
    content: "";
    clear: both;
}
.ued-navtab-2 .nav-tabs li {
    float: left;
    list-style: none;
    margin:0 0 -1px 0 ;
    position: relative;
    border-radius:5px 5px 0 0;
}
.ued-navtab-2 .nav-tabs li a {
    display: inline-block;
    padding: 0 20px 0 10px;
    margin:0;
    height:35px;
    line-height:35px;
    font-size: 14px;
    color:#666;
	text-decoration:none;
	
}
.ued-navtab-2 .nav-tabs .active a, .ued-navtab-2 .nav-tabs .active a:hover {
    color: #0066ff;
    cursor: default;
    background: #ffffff;
    border-bottom:1px solid #fff;
    
}
.ued-navtab-2 .nav-tabs li a.close{
    position: absolute;
    right:7px;
    top:10px;
    margin: 0;
    padding: 0;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
    width:7px;
    height:7px;
    background:url("images/pt-clo.gif") 0 0 no-repeat;
}
.ued-navtab-2 .nav-tabs li.active a.close{
	display:block;
}
.ued-navtab-2 .nav-tabs li a.close:hover{
    border: none;
    cursor: pointer;
    background:url("images/pt-clo.gif") 0 -7px no-repeat;
}
.ued-navtab-2 .navtab-content  {
    position: relative;
    margin-top:-1px;
	overflow:hidden;
    z-index: 2;
    border-radius:0 0 3px 3px;
    border:1px solid #d1d1d1;
}
.ued-navtab-2 .navtab-content iframe {
    display: none;
}
.ued-navtab-2 .navtab-content .mask {
    background: #eee url(../../images/control-center/loading.gif) no-repeat  center center;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6;
}

