.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */

.container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width:800px;
}
.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
.container div {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  position:relative;
  width:540px;
}
.container div i{ position:absolute; top:10px; z-index:100;}
.container div .input{position:absolute; top:2px; z-index:100; right:-120px; height:34px; line-height:34px; text-indent:10px; background:#999; border:0px; color:#CCC; width:100px;}
.container div i.mtch_del{right:-210px;}
.container div i.mtch_str{right:-210px;}
.container div i.mtch_edit{right:-170px;}
.container .ex-moved {
  background-color: #e74c3c;
}

/*编辑参赛人*/
.container i{ width:24px; height:24px; display:inline-block; vertical-align:middle; float:right}
.mtch_del{background:url(../../images/icon-3.png) 6px -402px no-repeat; cursor:pointer}
.mtch_str{background:url(../../images/icon-3.png) 6px -428px no-repeat; cursor:pointer}
.mtch_edit{background:url(../../images/icon-3.png) 6px 4px no-repeat;cursor:pointer}