@charset "utf-8";
/*
 * @Filename: layout.css
 * @Description: layout style
 * @Version: 1.0.0
 * @Author: wangyq
 * @Update: wangyq
*/

/*
.layout-collapse-left-over, .layout-collapse-right-over {
	background:#F8FCFE;
}
.layout-collapse-left-toggle, .layout-collapse-right-toggle, .layout-header-toggle-left, .layout-header-toggle-right {
	cursor: pointer;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 13px;
}*/